.fill {
    fill: var(--n-text-color);
}

.n-menu-item-content--selected .n-icon svg {
    fill: var(--n-item-text-color-active);
}

.n-menu-item-content--selected .n-icon svg path {
    fill: var(--n-item-text-color-active);
}

.n-button:not(.n-button--disabled):hover .n-button__icon svg,
.n-button:not(.n-button--disabled):focus .n-button__icon svg,
.n-icon svg:hover,
.n-icon svg:focus,
.n-icon svg g path:hover,
.n-icon svg g path:focus {
    fill: var(--n-text-color-hover);
}